In [11]:
# Imports libraries & Spark Session

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType
from pyspark.sql.functions import (
    from_json, col, split, trim, regexp_replace, when, regexp_extract, size, length, lit, current_date
)

# This is required when running on my laptop with Fedora 43 and 4 CPUs, 8 GB ram
spark = (
    SparkSession.builder
    .appName("ETL_Flatten_Clean_Push_Postgres")
    .config("spark.driver.memory", "4g")
    .config("spark.executor.memory", "4g")
    .config("spark.sql.shuffle.partitions", "8")
    .getOrCreate()
)
spark.sparkContext.setLogLevel("ERROR")

In [12]:
# Read downloaded JSON from kaggel & Define Schemas

df = spark.read.json("/home/agileox/Project/payn_project/data/cc_sample_transaction.json")

address_schema = StructType([
    StructField("street", StringType(), True),
    StructField("city", StringType(), True),
    StructField("state", StringType(), True),
    StructField("zip", StringType(), True)
])

personal_schema = StructType([
    StructField("person_name", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("address", StringType(), True),
    StructField("lat", StringType(), True),
    StructField("long", StringType(), True),
    StructField("city_pop", StringType(), True),
    StructField("job", StringType(), True),
    StructField("dob", StringType(), True)
])

In [13]:
# Process to Flatten Nested JSON

df_level1 = df.withColumn("personal_detail", from_json(col("personal_detail"), personal_schema))
df_level2 = df_level1.withColumn("address", from_json(col("personal_detail.address"), address_schema))

df_flat = df_level2.select(
    col("Unnamed: 0").alias("unnamed_id"),   # rename here
    "amt", "category", "cc_bic", "cc_num", "is_fraud",
    "merch_eff_time", "merch_last_update_time", "merch_lat", "merch_long",
    "merch_zipcode", "merchant", "trans_date_trans_time", "trans_num",
    col("personal_detail.person_name").alias("raw_person_name"),
    col("personal_detail.gender").alias("gender"),
    col("personal_detail.lat").alias("lat"),
    col("personal_detail.long").alias("long"),
    col("personal_detail.city_pop").alias("city_pop"),
    col("personal_detail.job").alias("job"),
    col("personal_detail.dob").alias("dob"),
    col("address.street").alias("address_street"),
    col("address.city").alias("address_city"),
    col("address.state").alias("address_state"),
    col("address.zip").alias("address_zip")
)

In [14]:
# Identified not that clean data and splitting the Person Name

df_names = df_flat.withColumn("raw_name", regexp_replace(col("raw_person_name"), "/", "@"))

df_cleaned = df_names \
    .withColumn("name", regexp_replace(col("raw_name"), r"[@|!]+", ",")) \
    .withColumn("name", regexp_replace(col("name"), r"\bNOOOO\b", "")) \
    .withColumn("name", regexp_replace(col("name"), r"\beeeee\b", "")) \
    .withColumn("name", regexp_replace(col("name"), r",\s*,", ",")) \
    .withColumn("name", regexp_replace(col("name"), r"\s+", " ")) \
    .withColumn("name", trim(col("name"))) \
    .withColumn("name", regexp_replace(col("name"), r"^,+|,+$", ""))

tokens = split(col("name"), r"[ ,]+")
first_tok = tokens.getItem(0)
second_tok = tokens.getItem(1)

df_split = df_cleaned \
    .withColumn("first_tok", first_tok) \
    .withColumn("second_tok", when((size(tokens) >= 2) & (length(second_tok) > 0), second_tok))

df_final = df_split \
    .withColumn(
        "first_name",
        when(col("second_tok").isNull(),
             regexp_extract(col("name"), r"^([A-Z][a-z]+)", 1)
        ).otherwise(col("first_tok"))
    ) \
    .withColumn(
        "last_name",
        when(col("second_tok").isNull(),
             regexp_extract(col("name"), r"^[A-Z][a-z]+([A-Z][a-z]+)", 1)
        ).otherwise(col("second_tok"))
    ) \
    .drop("first_tok", "second_tok", "raw_person_name", "raw_name", "name")

In [15]:
# Normalize Gender to Female and Male

df_final = df_final.withColumn(
    "gender",
    when(col("gender") == "F", "Female")
    .when(col("gender") == "M", "Male")
    .otherwise(col("gender"))
)

In [16]:
# Mask Credit Card Number (keep last 4 digits) & Postcode (keep 2 digits)

cc_digits = regexp_replace(col("cc_num").cast("string"), r"\D", "")
df_final = df_final.withColumn(
    "cc_num_masked",
    when(length(cc_digits) >= 4,
         regexp_replace(cc_digits, r"\d(?=\d{4})", "*")
    ).otherwise(lit(None))
).drop("cc_num")

addr_zip = regexp_replace(col("address_zip").cast("string"), r"\D", "")
df_final = df_final.withColumn(
    "address_zip_masked",
    when(length(addr_zip) >= 2,
         regexp_replace(addr_zip, r"\d(?=\d{2})", "*")
    ).otherwise(lit(None))
).drop("address_zip")

addr_street = col("address_street").cast("string")
df_final = df_final.withColumn(
    "address_street_masked",
    when(length(addr_street) >= 3,
         # replace first 3 digits with '*'
         regexp_replace(addr_street, r"^\d{3}", "***")
    ).otherwise(lit(None))
).drop("address_street")

In [17]:
# Casting the proper data type for the used of inserting into Postgresql DB

df_final = df_final \
    .withColumn("amt", col("amt").cast("double")) \
    .withColumn("city_pop", col("city_pop").cast("int")) \
    .withColumn("dob", col("dob").cast("date")) \
    .withColumn("is_fraud", col("is_fraud").cast("boolean")) \
    .withColumn("trans_date_trans_time", col("trans_date_trans_time").cast("timestamp"))

In [18]:
# preparing the ingestion date before pushing to PG DB

df_final = df_final.withColumn("ingestion_date", current_date())
#df_final = df_final.withColumn("ingestion_date", lit("2025-11-23").cast("date"))

In [19]:
# Verify

print("Row count:", df_final.count())
df_final.show(10, truncate=False)

Row count: 1296675
+----------+------+-------------+-----------+--------+----------------+----------------------+------------------+------------------+-------------+----------------------------------+---------------------+--------------------------------+------+-------+------------------+--------+---------------------------------+----------+--------------+-------------+----------+---------+----------------+------------------+------------------------------+--------------+
|unnamed_id|amt   |category     |cc_bic     |is_fraud|merch_eff_time  |merch_last_update_time|merch_lat         |merch_long        |merch_zipcode|merchant                          |trans_date_trans_time|trans_num                       |gender|lat    |long              |city_pop|job                              |dob       |address_city  |address_state|first_name|last_name|cc_num_masked   |address_zip_masked|address_street_masked         |ingestion_date|
+----------+------+-------------+-----------+--------+----------------+----------------------+------------------+------------------+-------------+----------------------------------+---------------------+--------------------------------+------+-------+------------------+--------+---------------------------------+----------+--------------+-------------+----------+---------+----------------+------------------+------------------------------+--------------+
|0         |4.97  |misc_net     |CITIUS33CHI|false   |1325376018798532|1325376018666         |36.011293         |-82.048315        |28705        |fraud_Rippin, Kub and Mann        |2019-01-01 00:00:18  |0b242abb623afc578575680df30655b9|Female|36.0788|-81.1781          |3495    |Psychologist, counselling        |1988-03-09|Moravian Falls|NC           |Jennifer  |Banks    |************2095|***54             |*** Perry Cove                |2025-11-23    |
|1         |107.23|grocery_pos  |ADMDUS41   |false   |1325376044867960|132537604479          |49.159046999999994|-118.186462       |NULL         |fraud_Heller, Gutmann and Zieme   |2019-01-01 00:00:44  |1f76529f8574734946361c461b024d99|Female|48.8878|-118.2105         |149     |Special educational needs teacher|1978-06-21|Orient        |WA           |Stephanie |Gill     |********7322    |***60             |***39 Riley Greens Suite 393  |2025-11-23    |
|2         |220.11|entertainment|Null       |false   |1325376051506840|1325376051286         |43.150704         |-112.154481       |83236        |fraud_Lind-Buckridge              |2019-01-01 00:00:51  |a1a22d70485983eac12b5b88dad1cf95|Male  |42.1808|-112.262          |4154    |Nature conservation officer      |1962-01-19|Malad City    |ID           |Edward    |Sanchez  |**********7661  |***52             |*** White Dale Suite 530      |2025-11-23    |
|3         |45.0  |gas_transport|DEUTUS33TRF|false   |1325376076794698|1325376076365         |47.034331         |-112.561071       |NULL         |fraud_Kutch, Hermiston and Farrell|2019-01-01 00:01:16  |6b849c168bdad6f867558c3793159a81|Male  |46.2306|-112.1138         |1939    |Patent attorney                  |1967-01-12|Boulder       |MT           |Jeremy    |White    |************0240|***32             |***3 Cynthia Court Apt. 038   |2025-11-23    |
|4         |41.96 |misc_pos     |APBCUS61   |false   |1325376186746376|132537618681          |38.674999         |-78.632459        |22844        |fraud_Keeling-Crist               |2019-01-01 00:03:06  |a41d7549acf90789359a9aa5346dcb46|Male  |38.4207|-79.4629          |99      |Dance movement psychotherapist   |1986-03-28|Doe Hill      |VA           |Tyler     |Garcia   |***********3984 |***33             |*** Bradley Rest              |2025-11-23    |
|5         |94.63 |gas_transport|APBCUS61   |false   |1325376248271406|1325376248483         |40.653382         |-76.15266700000001|17972        |fraud_Stroman, Hudson and Erdman  |2019-01-01 00:04:08  |189a841a0a8ba03058526bcfe566aab5|Female|40.375 |-75.2045          |2158    |Transport planner                |1961-06-19|Dublin        |PA           |Jennifer  |Conner   |************4500|***17             |***5 David Island             |2025-11-23    |
|6         |44.54 |grocery_net  |APBCUS61   |false   |1325376282274130|1325376282247         |37.162704999999995|-100.15337        |NULL         |fraud_Rowe-Vandervort             |2019-01-01 00:04:42  |83ec1cc84142af6e2acf10c44949e720|Female|37.9931|-100.9893         |2691    |Arboriculturist                  |1993-08-16|Holcomb       |KS           |Kelsey    |Richards |**********0476  |***51             |*** Sarah Station Suite 624   |2025-11-23    |
|7         |71.65 |gas_transport|NA         |false   |1325376308837349|1325376308152         |38.948089         |-78.540296        |22644        |fraud_Corwin-Collins              |2019-01-01 00:05:08  |6d294ed2cc447d2c71c7171a3d54967c|Male  |38.8432|-78.6003          |6018    |Designer, multimedia             |1947-08-21|Edinburg      |VA           |Steven    |Williams |************5864|***24             |*** Flores Pass Suite 720     |2025-11-23    |
|8         |4.27  |misc_pos     |ACEEUS31   |false   |1325376318245892|1325376318278         |40.351813         |-79.958146        |15236        |fraud_Herzog Ltd                  |2019-01-01 00:05:18  |fc28024ce480f8ef21a32d64c93a29f5|Female|40.3359|-79.6607          |1472    |Public affairs consultant        |1941-03-07|Manor         |PA           |Heather   |Chase    |************1201|***65             |***8 Hicks Stream Suite 954   |2025-11-23    |
|9         |198.39|grocery_pos  |DEUTUS33TRF|false   |1325376361965234|1325376361857         |37.179198         |-87.485381        |42442        |fraud_Schoen, Kuphal and Nitzsche |2019-01-01 00:06:01  |3b9014ea8fb80bd65de0b1463b00b00e|Female|36.522 |-87.34899999999999|151785  |Pathologist                      |1974-03-28|Clarksville   |TN           |Melissa   |Aguilar  |************1674|***40             |***26 Taylor Squares Suite 708|2025-11-23    |
+----------+------+-------------+-----------+--------+----------------+----------------------+------------------+------------------+-------------+----------------------------------+---------------------+--------------------------------+------+-------+------------------+--------+---------------------------------+----------+--------------+-------------+----------+---------+----------------+------------------+------------------------------+--------------+
only showing top 10 rows

In [22]:
# Push to PostgreSQL DB

jdbc_url = "jdbc:postgresql://localhost:5432/postgres"
connection_properties = {
    "user": "payn_user",
    "password": "welcome1",
    "driver": "org.postgresql.Driver"
}

df_final.write \
    .jdbc(
        url=jdbc_url,
        table="payn_etl.cleaned_transactions_partition",   # schema-qualified
        mode="append",
        properties=connection_properties
    )